
#root{
    background-color: #fafafa;
    min-height: 100vh;
}


.darkmode{
    filter: invert(1) !important;
}

.canvas-dark{
    background-color: #fafafa;
    border : 3px solid #ce686a !important;
}